<head>
  <meta charset='UTF-8'>
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <h1> MakersBnB </h1>

  <div id='signUpIn'>
  <button id='signUp'>Sign Up</button>
  <button id='signIn'>Sign In</button>
  <div id='signUpForm' hidden>
    <h2> Sign up to MakersBnB </h2>
    Name: <input id='signUpName' type='text'/><br>
    E-Mail: <input id='signUpEmail' type='text'/><br>
    Password: <input id='signUpPassword' type='password'/><br>
    <button id ='signUpSubmit'>Submit</button><br>
  </div>
  <div id='signInForm' hidden>
    <h2> Sign in to MakersBnB </h2>
    E-Mail: <input id='signInEmail' type='text'/><br>
    Password: <input id='signInPassword' type='password'/><br>
    <button id ='signInSubmit'>Submit</button><br>
  </div>
  </div>

  <div id='logOut' hidden>
    <button id='logOutButton'>Log Out</button>
  </div>



  <div>
  <button id='createListingBtn' hidden>Post a Listing!</button>
  <div id='createListingForm' hidden>
    Address: <input id='listingAddress' type='text'/><br>
    Number of Beds: <input id='listingNoBeds' type='text'/><br>
    <button id='createListingSubmit'>Submit</button><br>
  </div>
  </div>

  <div id='allListings'></div>

  <script src='jquery.js'></script>
  <script src='APIConnector.js'></script>
  <script src='UserHandler.js'></script>
  <script src='ListingHandler.js'></script>
  <script src='interface.js'></script>
</body>
