<head>
  <meta charset='UTF-8'>
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <h1> MakersBnB </h1>
  <button class="btn" id='signUp'>Sign Up</button>
  <button class="btn" id='signIn'>Sign In</button>

  <div id='signUpForm' hidden>
    <h3> Sign up to MakersBnB </h3>
    <label>
     <input placeholder="Name" id='signUpName' type='text'/></label>
     <label>
     <input placeholder="E-mail" id='signUpEmail' type='text'/></label>
     <label>
     <input placeholder="Password" id='signUpPassword' type='password'/></label>
    <button class="btn" id ='signUpSubmit'>Submit</button><br>
  </div>
  <div id='signInForm' hidden>
    <h3> Sign in to MakersBnB </h3>
    <label>
      <input placeholder="E-mail" id='signInEmail' type='text'/></label>
    <label>
      <input placeholder="Password" id='signInPassword' type='password'/></label>
    <button class="btn" id ='signInSubmit'>Submit</button><br>
  </div>

  <div>
  <button class="btn" id='createListingBtn'>Post a Listing!</button>
  <div id='createListingForm' hidden>
    Address: <input id='listingAddress' type='text'/><br>
    Number of Beds: <input id='listingNoBeds' type='text'/><br>
    <button class="btn" id='createListingSubmit'>Submit</button><br>
  </div>
  </div>

  <div id='allListings'></div>

  <script src='jquery.js'></script>
  <script src='APIConnector.js'></script>
  <script src='UserHandler.js'></script>
  <script src='ListingHandler.js'></script>
  <script src='interface.js'></script>
</body>
